.curationName{
  color:black;
  margin-left: 20px;
  margin-right: 12px;
  margin-top: 10px;
  margin-bottom: -5px;

  display: flex;
  justify-content: space-between;
}

.contentBox{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    justify-content: space-between;

  
}

.contentBox {
  -webkit-overflow-scrolling: touch;
  
}

.contentBox ::-webkit-scrollbar {
      display: none;
}

.mapBtn{
  background-color: transparent;
  border-color: transparent;
  color: #7C7A7A;
}