<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="page-enter" content="blendTrans(duration=0.3)">
    <meta http-equiv="page-exit" content="blendTrans(duration=0.3)">
    <link rel="stylesheet" href="./css/style.css"/>
    <link rel="stylesheet" href="./css/listup.css"/>
    <link rel="stylesheet" href="./css/changeHeader.css">

    <title>SKKU WE</title>

</head>

<body>
    <div id ="root">
        <div class="wrapper">
            <header id="header" style="margin-bottom: 10px;">
                <div>
                    <a href="main.html">
                        <h1 class="title">WHERE EAT</h1>
                    </a>
                </div>
                <div>
                    <h3 class="subTitle">성대한 한끼를 위하여</h3>
                </div>
            </header>
            <main id ="main">
                <div class="curation">
                    <div class="curationName">
                        <h3 style="margin: 0px;">혼밥도 든든하게</h3>
                        <a href="map.html">
                            <button class="mapBtn">지도 보기</button>
                        </a>
                    </div>
                    <!--<h3 class="curationName">혼밥도 든든하게</h3>-->
                    <div class="contentBox">
                        <div class="content">
                            <div>
                                <h3 class="placeName">ttt</h3>
                            </div>
                            <div class="placePhoto">
                                <img class="img" src="./img/ttt.png" alt="">
                            </div>
                        </div>
                        <div class="content">
                            <div>
                                <h3 class="placeName">ttt</h3>
                            </div>
                            <div class="placePhoto">
                                <img class="img" src="./img/ttt.png" alt="">
                            </div>
                        </div>
                        <div class="content">
                            <div>
                                <h3 class="placeName">ttt</h3>
                            </div>
                            <div class="placePhoto">
                                <img class="img" src="./img/ttt.png" alt="">
                            </div>
                        </div>
                        <div class="content">
                            <div>
                                <h3 class="placeName">ttt</h3>
                            </div>
                            <div class="placePhoto">
                                <img class="img" src="./img/ttt.png" alt="">
                            </div>
                        </div>  
                        <div class="content">
                            <div>
                                <h3 class="placeName">ttt</h3>
                            </div>
                            <div class="placePhoto">
                                <img class="img" src="./img/ttt.png" alt="">
                            </div>
                        </div>  
                        <div class="content">
                            <div>
                                <h3 class="placeName">ttt</h3>
                            </div>
                            <div class="placePhoto">
                                <img class="img" src="./img/ttt.png" alt="">
                            </div>
                        </div>    
                    </div>
                </div>


            </main>
        </div>
    </div>
    
</body>



</html>