{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="page-enter" content="blendTrans(duration=0.3)">
    <meta http-equiv="page-exit" content="blendTrans(duration=0.3)">
    <link rel="stylesheet" href={% static "./css/style.css" %}/>
    <link rel="stylesheet" href={% static "./css/main.css" %}/>
    <link rel="stylesheet" href={% static "./css/mainHeader.css" %}>
    <title>SKKU WE</title>

</head>

<body>
    <div id ="root">
        <div class="wrapper">
            <header id="header">
                <a href={% url 'main' %}>
                    <div>
                        <h1 class="title">WHERE EAT</h1>
                    </div>
                    <div>
                        <h3 class="subTitle">성대한 한끼를 위하여</h3>
                    </div>
                </a>
            </header>
            <main id ="main">
                <div class="curation">
                    <div class="curationName">
                        <h3 style="margin: 0px;">밥약 국룰 맛집</h3>
                        <a href={% url 'map' %}>
                            <form action="/map/" method="GET">
                                <input type="hidden" name="ID" value="1"><button class="mapBtn"> 지도 보기 ></button>
                            </form>
                        </a>
                    </div>
                    <div class="contentBox">
                        {% for data in data1 %}
                            <a href = "{{data.place_url}}">
                                <div class="content">
                                    <div>
                                        <h3 class="placeName">{{data.place_name}}</h3>
                                    </div>
                                    <div class="placePhoto">
                                        <img class="img" src={% static './img/ttt.png' %} alt="">
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="curation">
                    <div class="curationName">
                        <h3 style="margin: 0px;">혼밥해도 괜찮아</h3>
                        <a href={% url 'map' %}>
                            <form action="/map/" method="GET">
                                <input type="hidden" name="ID" value="2"><button class="mapBtn"> 지도 보기 ></button>
                            </form>
                        </a>
                    </div>
                
                    <div class="contentBox">
                        {% for data in data2 %}
                            <a href = "{{data.place_url}}">
                                <div class="content">
                                    <div>
                                        <h3 class="placeName">{{data.place_name}}</h3>
                                    </div>
                                    <div class="placePhoto">
                                        <img class="img" src={% static "./img/ttt.png" %} alt="">
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="curation">
                    <div class="curationName">
                        <h3 style="margin: 0px;">카공족들 모여라</h3>
                        <a href={% url 'map' %}>
                            <form action="/map/" method="GET">
                                <input type="hidden" name="ID" value="3"><button class="mapBtn"> 지도 보기 ></button>
                            </form>
                        </a>
                    </div>
                
                    <div class="contentBox">
                        {% for data in data3 %}
                            <a href = "{{data.place_url}}">
                                <div class="content">
                                    <div>
                                        <h3 class="placeName">{{data.place_name}}</h3>
                                    </div>
                                    <div class="placePhoto">
                                        <img class="img" src={% static "./img/ttt.png" %} alt="">
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="curation">
                    <div class="curationName">
                        <h3 style="margin: 0px;">단체 술 약속은 여기서</h3>
                        <a href={% url 'map' %}>
                            <form action="/map/" method="GET">
                                <input type="hidden" name="ID" value="4"><button class="mapBtn"> 지도 보기 ></button>
                            </form>
                        </a>
                    </div>
                
                    <div class="contentBox">
                        {% for data in data4 %}
                            <a href = "{{data.place_url}}">
                                <div class="content">
                                    <div>
                                        <h3 class="placeName">{{data.place_name}}</h3>
                                    </div>
                                    <div class="placePhoto">
                                        <img class="img" src={% static "./img/ttt.png" %} alt="">
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="curation">
                    <div class="curationName">
                        <h3 style="margin: 0px;">걸어서 가는 맛집</h3>
                        <a href={% url 'map' %}>
                            <form action="/map/" method="GET">
                                <input type="hidden" name="ID" value="5"><button class="mapBtn"> 지도 보기 ></button>
                            </form>
                        </a>
                    </div>
                
                    <div class="contentBox">
                        {% for data in data5 %}
                            <a href = "{{data.place_url}}">
                                <div class="content">
                                    <div>
                                        <h3 class="placeName">{{data.place_name}}</h3>
                                    </div>
                                    <div class="placePhoto">
                                        <img class="img" src={% static "./img/ttt.png" %} alt="">
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="curation">
                    <div class="curationName">
                        <h3 style="margin: 0px;">셔틀 타고 가는 맛집</h3>
                        <a href={% url 'map' %}>
                            <form action="/map/" method="GET">
                                <input type="hidden" name="ID" value="6"><button class="mapBtn"> 지도 보기 ></button>
                            </form>
                        </a>
                    </div>
                
                    <div class="contentBox">
                        {% for data in data6 %}
                            <a href = "{{data.place_url}}">
                                <div class="content">
                                    <div>
                                        <h3 class="placeName">{{data.place_name}}</h3>
                                    </div>
                                    <div class="placePhoto">
                                        <img class="img" src={% static "./img/ttt.png" %} alt="">
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="curation">
                    <div class="curationName">
                        <h3 style="margin: 0px;">밥 먹으면서 한잔</h3>
                        <a href={% url 'map' %}>
                            <form action="/map/" method="GET">
                                <input type="hidden" name="ID" value="7"><button class="mapBtn"> 지도 보기 ></button>
                            </form>
                        </a>
                    </div>
                
                    <div class="contentBox">
                        {% for data in data7 %}
                            <a href = "{{data.place_url}}">
                                <div class="content">
                                    <div>
                                        <h3 class="placeName">{{data.place_name}}</h3>
                                    </div>
                                    <div class="placePhoto">
                                        <img class="img" src={% static "./img/ttt.png" %} alt="">
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="curation">
                    <div class="curationName">
                        <h3 style="margin: 0px;">CC 데이트 성지</h3>
                        <a href={% url 'map' %}>
                            <form action="/map/" method="GET">
                                <input type="hidden" name="ID" value="8"><button class="mapBtn"> 지도 보기 ></button>
                            </form>
                        </a>
                    </div>
                
                    <div class="contentBox">
                        {% for data in data8 %}
                            <a href = "{{data.place_url}}">
                                <div class="content">
                                    <div>
                                        <h3 class="placeName">{{data.place_name}}</h3>
                                    </div>
                                    <div class="placePhoto">
                                        <img class="img" src={% static "./img/ttt.png" %} alt="">
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="curation">
                    <div class="curationName">
                        <h3 style="margin: 0px;">인스타에서 유명해</h3>
                        <a href={% url 'map' %}>
                            <form action="/map/" method="GET">
                                <input type="hidden" name="ID" value="9"><button class="mapBtn"> 지도 보기 ></button>
                            </form>
                        </a>
                    </div>
                    
                    <div class="contentBox">
                        {% for data in data9 %}
                            <a href = "{{data.place_url}}">
                                <div class="content">
                                    <div>
                                        <h3 class="placeName">{{data.place_name}}</h3>
                                    </div>
                                    <div class="placePhoto">
                                        <img class="img" src={% static "./img/ttt.png" %} alt="">
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="curation">
                    <div class="curationName">
                        <h3 style="margin: 0px;">가성비가 내리는 식당</h3>
                        <a href={% url 'map' %}>
                            <form action="/map/" method="GET">
                                <input type="hidden" name="ID" value="10"><button class="mapBtn"> 지도 보기 ></button>
                            </form>
                        </a>
                    </div>
                
                    <div class="contentBox">
                        {% for data in data10 %}
                            <a href = "{{data.place_url}}">
                                <div class="content">
                                    <div>
                                        <h3 class="placeName">{{data.place_name}}</h3>
                                    </div>
                                    <div class="placePhoto">
                                        <img class="img" src={% static "./img/ttt.png" %} alt="">
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="curation">
                    <div class="curationName">
                        <h3 style="margin: 0px;">무드 넘치는 카페</h3>
                        <a href={% url 'map' %}>
                            <form action="/map/" method="GET">
                                <input type="hidden" name="ID" value="11"><button class="mapBtn"> 지도 보기 ></button>
                            </form>
                        </a>
                    </div>
                
                    <div class="contentBox">
                        {% for data in data11 %}
                            <a href = "{{data.place_url}}">
                                <div class="content">
                                    <div>
                                        <h3 class="placeName">{{data.place_name}}</h3>
                                    </div>
                                    <div class="placePhoto">
                                        <img class="img" src={% static "./img/ttt.png" %} alt="">
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="curation">
                    <div class="curationName">
                        <h3 style="margin: 0px;">디저트 맛집</h3>
                        <a href={% url 'map' %}>
                            <form action="/map/" method="GET">
                                <input type="hidden" name="ID" value="12"><button class="mapBtn"> 지도 보기 ></button>
                            </form>
                        </a>
                    </div>
                
                    <div class="contentBox">
                        {% for data in data12 %}
                            <a href = "{{data.place_url}}">
                                <div class="content">
                                    <div>
                                        <h3 class="placeName">{{data.place_name}}</h3>
                                    </div>
                                    <div class="placePhoto">
                                        <img class="img" src={% static "./img/ttt.png" %} alt="">
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="curation">
                    <div class="curationName">
                        <h3 style="margin: 0px;">칵테일 한 잔</h3>
                        <a href={% url 'map' %}>
                            <form action="/map/" method="GET">
                                <input type="hidden" name="ID" value="13"><button class="mapBtn"> 지도 보기 ></button>
                            </form>
                        </a>
                    </div>
                
                    <div class="contentBox">
                        {% for data in data13 %}
                            <a href = "{{data.place_url}}">
                                <div class="content">
                                    <div>
                                        <h3 class="placeName">{{data.place_name}}</h3>
                                    </div>
                                    <div class="placePhoto">
                                        <img class="img" src={% static "./img/ttt.png" %} alt="">
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="curation">
                    <div class="curationName">
                        <h3 style="margin: 0px;">오늘은 고기 먹는 날</h3>
                        <a href={% url 'map' %}>
                            <form action="/map/" method="GET">
                                <input type="hidden" name="ID" value="14"><button class="mapBtn"> 지도 보기 ></button>
                            </form>
                        </a>
                    </div>
                
                    <div class="contentBox">
                        {% for data in data14 %}
                            <a href = "{{data.place_url}}">
                                <div class="content">
                                    <div>
                                        <h3 class="placeName">{{data.place_name}}</h3>
                                    </div>
                                    <div class="placePhoto">
                                        <img class="img" src={% static "./img/ttt.png" %} alt="">
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="curation">
                    <div class="curationName">
                        <h3 style="margin: 0px;">혜화 로컬 맛집</h3>
                        <a href={% url 'map' %}>
                            <form action="/map/" method="GET">
                                <input type="hidden" name="ID" value="15"><button class="mapBtn"> 지도 보기 ></button>
                            </form>
                        </a>
                    </div>
                
                    <div class="contentBox">
                        {% for data in data15 %}
                            <a href = "{{data.place_url}}">
                                <div class="content">
                                    <div>
                                        <h3 class="placeName">{{data.place_name}}</h3>
                                    </div>
                                    <div class="placePhoto">
                                        <img class="img" src={% static "./img/ttt.png" %} alt="">
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="curation">
                    <div class="curationName">
                        <h3 style="margin: 0px;">나라별 맛집: 일본</h3>
                        <a href={% url 'map' %}>
                            <form action="/map/" method="GET">
                                <input type="hidden" name="ID" value="16"><button class="mapBtn"> 지도 보기 ></button>
                            </form>
                        </a>
                    </div>
                
                    <div class="contentBox">
                        {% for data in data16 %}
                            <a href = "{{data.place_url}}">
                                <div class="content">
                                    <div>
                                        <h3 class="placeName">{{data.place_name}}</h3>
                                    </div>
                                    <div class="placePhoto">
                                        <img class="img" src={% static "./img/ttt.png" %} alt="">
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="curation">
                    <div class="curationName">
                        <h3 style="margin: 0px;">나라별 맛집: 중국</h3>
                        <a href={% url 'map' %}>
                            <form action="/map/" method="GET">
                                <input type="hidden" name="ID" value="17"><button class="mapBtn"> 지도 보기 ></button>
                            </form>
                        </a>
                    </div>
                
                    <div class="contentBox">
                        {% for data in data17 %}
                            <a href = "{{data.place_url}}">
                                <div class="content">
                                    <div>
                                        <h3 class="placeName">{{data.place_name}}</h3>
                                    </div>
                                    <div class="placePhoto">
                                        <img class="img" src={% static "./img/ttt.png" %} alt="">
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="curation">
                    <div class="curationName">
                        <h3 style="margin: 0px;">나라별 맛집: <br>&nbsp;인도/태국/베트남/멕시코/아랍</h3>
                        <a href={% url 'map' %}>
                            <form action="/map/" method="GET">
                                <input type="hidden" name="ID" value="18"><button class="mapBtn"> 지도 보기 ></button>
                            </form>
                        </a>
                    </div>
                
                    <div class="contentBox">
                        {% for data in data18 %}
                            <a href = "{{data.place_url}}">
                                <div class="content">
                                    <div>
                                        <h3 class="placeName">{{data.place_name}}</h3>
                                    </div>
                                    <div class="placePhoto">
                                        <img class="img" src={% static "./img/ttt.png" %} alt="">
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="curation">
                    <div class="curationName">
                        <h3 style="margin: 0px;">나라별 맛집: 한국</h3>
                        <a href={% url 'map' %}>
                            <form action="/map/" method="GET">
                                <input type="hidden" name="ID" value="19"><button class="mapBtn"> 지도 보기 ></button>
                            </form>
                        </a>
                    </div>
                
                    <div class="contentBox">
                        {% for data in data19 %}
                            <a href = "{{data.place_url}}">
                                <div class="content">
                                    <div>
                                        <h3 class="placeName">{{data.place_name}}</h3>
                                    </div>
                                    <div class="placePhoto">
                                        <img class="img" src={% static "./img/ttt.png" %} alt="">
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>

            </main>
        </div>
    </div>
    
</body>



</html>